<!doctype html>
<html lang="en">
  <head>
    <%- include("../template/head.ejs") %>
  </head>
  <body>
    <%- include("../template/navbar.ejs") %>

    <div class="container pt-16 pb-8 content-center mt-10">
      <div class="contents justify-center relative">
        <h1 class="align-middle font-bold text-xl text-center mb-3">About</h1>
        <p class="leading-loose">
          Welcome to markdown blog platform, a space designed for creativity, learning, and sharing
          knowledge. Here, you'll find a collection of diverse articles ranging from personal
          experiences to technical insights. Whether you're here to explore markdown testing, dive
          into Linux troubleshooting, or enjoy casual blogging, there's something for everyone.
        </p>
      </div>

      <br />
      <br />

      <div class="justify-center relative">
        <h1 class="align-middle font-bold text-xl text-center mb-3">Features of Our Blog</h1>

        <ul class="list-inside leading-relaxed block">
          <li class="group">
            <span class="font-semibold">Organized Categories:</span>
            <p>
              Easily navigate through categorized content like "All Articles," "Markdown Tester,"
              and "Important Topics" to find what interests you most.
            </p>
          </li>
          <br />
          <li class="group">
            <span class="font-semibold">Interactive Articles:</span>
            <p>
              Each post allows you to read more, edit, or delete, giving a dynamic experience for
              contributors and readers alike.
            </p>
          </li>
          <br />
          <li class="group">
            <span class="font-semibold">Markdown Support:</span>
            <p>
              Emphasize content readability with full markdown support, enabling seamless formatting
              and syntax highlighting.
            </p>
          </li>
          <br />
          <li class="group">
            <span class="font-semibold">Customizable Content:</span>
            <p>
              encourages people to share their thoughts effortlessly, ensuring a smooth publishing
              journey.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
