<!doctype html>
<html lang="en">
  <head>
    <%- include("../template/head.ejs") %>
  </head>
  <body>
    <%- include("../template/navbar.ejs") %>

    <div
      class="container pt-16 pb-8 content-center mt-10 flex flex-col items-center justify-center"
    >
      <h1 class="align-middle font-bold text-xl text-center mb-3">Contact</h1>
      <p class="text-center">Feel free to reach out through my social media links:</p>

      <div class="items-center justify-center flex mt-3">
				<a
					href="https://github.com"
					target="_blank"
					class="bg-blue-500 text-white px-4 py-2 rounded hover:text-slate-600 transition duration-300 ease-in-out"
					>GitHub</a
				>
				<a
					href="https://store.steampowered.com"
					target="_blank"
					class="bg-blue-500 text-white px-4 py-2 rounded hover:text-slate-600 transition"
					>Steam</a
				>
				<a
					href="https://youtube.com"
					target="_blank"
					class="bg-blue-500 text-white px-4 py-2 rounded hover:text-slate-600 transition"
					>YouTube</a
				>
			</div>
    </div>
  </body>
</html>
