<!doctype html>
<html lang="en">
  <head>
    <%- include("../template/head.ejs") %>
  </head>
  <body>
    <%- include("../template/navbar.ejs") %>

    <div class="container inline-flex items-center justify-center h-screen w-screen">
      <h1 class="text-3xl font-extrabold text-center text-light">401 Unauthorized!</h1>
  </body>
</html>
