<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../../template/head.ejs") %>
  </head>
  <body>
    <%- include("../../template/navbar.ejs") %>
        
    <div class="container pt-24">
      <form action="/categories/all/articles" method="post">
        <%- include("../../template/form/articles.ejs") %>
      </form>
    </div>
  </body>
</html>
